html{
  margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
  text-align: center;
 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App-logo1 {
  animation: App-logo-spin infinite 20s linear;
  width: 80px !important;
  height: 80px !important;
}

@media (prefers-reduced-motion: no-preference) {
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aaaa{
  width: 100% !important;
}
.play{
  background-color: #f8a6be!important;
 
}
.rhap_download-progress{
  background-color: #f8a6bf80 !important;
  }
.rhap_repeat-button,
.rhap_main-controls-button,
.rhap_volume-button,
.rhap_time{
  color: black !important;
}
.rhap_controls-section{
  padding: 0 30px;
}

.rhap_volume-bar>.rhap_volume-indicator,
.rhap_progress-indicator,
.rhap_progress-filled,
.rhap_volume-bar{
  background-color: black!important;
}
/* .rhap_volume-indicator{
  background-color:black!important;
} */
